<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MessageCrypt{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/library/bootstrap.min.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    </head>
    <body background="images/background.jpg">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>