{% extends 'user/menu.html.twig' %}

{% block content %}
    Witaj !!!

    <input id='message' type="text" class="form-control"/>

    <button class="sendButton btn btn-primary">
        Send
    </button>
    <button class="readButton btn btn-warning">
        Read
    </button>
{% endblock %}

 {% block pagescripts %}
 <script>

     $(function(){

         var conn = new WebSocket('ws://localhost:8080');

         conn.onopen = function(e) {
             console.log("Connection established!");
//                 conn.send(message);
//                 conn.send(message);

//             $('.sendButton').on('click', function(){
//
//
//                 var message = $('#message').val();
////             console.log("M: "+ message);
//                conn.send(message);
//             });
         };

         conn.onmessage = function(e) {
             console.log(e.data);
         };


//         $('.readButton').on('click', function(){
//
////             var message = $('#message').val();
//
//             var conn = new WebSocket('ws://localhost:8080');
////             conn.onopen = function(e) {
////                 console.log("Connection established!");
////                 conn.send(message);
////             };
//
//             conn.onmessage = function(e) {
//                 console.log(e.data);
//             };
//         });
     });

 </script>

 {% endblock %}